@()(implicit request: RequestHeader, flash: Flash)


@main("Blogs") {
    <div id="blog-header" hidden>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" onclick="loadBlog()">BBS</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="loadBlog()">Home</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="switchToAdd()">Add Post</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="logout()">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <div id="blog-section" hidden>
        <div class="container" id="posts">
            <ul id="blogPosts"></ul>
        </div>

        
    </div>

}