@()(implicit request: RequestHeader, flash: Flash)


@main("Login") {

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateRoute" value="@routes.BlogController.validate()">
    <input type="hidden" id="getRoute" value="@routes.BlogController.getBlog()">
    <input type="hidden" id="addRoute" value="@routes.BlogController.addPost()">
    <input type="hidden" id="createRoute" value="@routes.BlogController.createUser()">
    <input type="hidden" id="logoutRoute" value="@routes.BlogController.logout()">
    <link rel="stylesheet" type="text/css" href='/assets/stylesheets/main.css' />



    <div class="header" id="login-header">
        <h2>BBS</h2>
        <p>A Simple Blog by Septeni Technology</p>
    </div>

    <div id="login-section" class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Login:</h2>
                
                    <div class="form-group">
                        <label for="loginName">Email address</label>
                        <input type="email" id="loginName" class="form-control" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
                    </div>

                    <div class="form-group">
                        <label for="loginPass">Password</label>
                        <input type="password" id="loginPass" class="form-control">
                    </div>

                    <button type="submit" id="loginSubmit" onclick="login()" class="btn btn-primary">Login</button>
                    <div id="login-fail"></div>
                    
            </div>
        
            <div class="col-6">
                <h2>Create User:</h2>
                <div class="form-group">
                    <label for="newName">Email address</label>
                    <input type="email" id="newName" class="form-control" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
                </div>

                <div class="form-group">
                    <label for="newPass">Password</label>
                    <input type="password" id="newPass" class="form-control">
                </div>

                <button type="submit" id="createSubmit" onclick="createUser()" class="btn btn-primary">Create User</button>
                <div id="signup-fail"></div>

                
            </div>
        </div>
    </div>

}