.col-6 {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.post-display {
    float: left;
    width: 65%;
}

.create-post {
    float: right;
    width: 30%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    
}

.header {
    padding: 20px;
    text-align: center;
    background: #111111;
    color: white;
    font-size: 30px;
    
}



.body {
    font-family: Arial;
    padding: 20px;
    background: #1e90ff;
}

.card {
    padding: 20px;
    margin-top: 50px;
    border-radius: 25px;
  }